<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{bus.confirm.title}">title</title>
</head>
<body>
<header th:include="fragments/fragments :: header"></header>

<form th:action="@{/buses/delete}" method="post">
    <input type="hidden" th:name="id" th:value="${id}"/>
    <label>
        <span th:text="#{bus.confirm.areYouSure}">areYouSure</span>
        <br>
        <br>
        <button th:name="submit" th:value="delete" th:text="#{bus.confirm.delete}">delete</button>
        <button th:name="submit" th:value="cancel" th:text="#{bus.confirm.cancel}">cancel</button>
    </label>

</form>

<footer th:include="fragments/fragments :: footer"></footer>
</body>
</html>