<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{bus.form.title}">title</title>
</head>
<body>
<header th:include="fragments/fragments :: header"></header>

<form th:action="@{/buses/save}" th:object="${bus}" method="post">
    <label>
        <input type="hidden" th:field="*{id}"/>
    </label><br>
    <label>
        <span th:text="#{bus.form.description}">description</span>
        <input type="text" th:field="*{description}"/>
        <span class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </label><br>
    <button name="submit" value="save" th:text="#{bus.form.save}">save</button>
    <button name="submit" value="cancel" th:text="#{bus.form.cancel}">cancel</button>
</form>

<footer th:include="fragments/fragments :: footer"></footer>
</body>
</html>