<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<div th:fragment="header">
    <a th:href="@{/}" th:text="#{fragments.header.home}">home</a>
    <a th:href="@{/buses/}" th:text="#{fragments.header.buses}">buses</a>
    <a th:href="@{/busstops/}" th:text="#{fragments.header.busstops}">busstops</a>
    <a th:href="@{/tracks/}" th:text="#{fragments.header.tracks}">tracks</a>
    <hr>
</div>

<div th:fragment="footer">
    <hr>
    <p th:text="footer">footer</p>
</div>

</body>
</html>